<footer>
    <div class="container" id="footerContainer">
        <p class="copyright">
            © 2022  |  @ryanmatthew248  |  All Rights Reserved
        </p>
        <div class="footerContact">
            <a href="https://github.com/ryanmatthew248" target=”_blank” class="githubLink"><img src="/src/img/GitHub-Mark-Light-32px.png" alt="Github Logo & Link"></a>
            <a href="https://twitter.com/ryanmatthew248" target=”_blank” class="twitterLink"><img src="/src/img/Twitter social icons - circle - white.png" alt="Twitter Logo & Link"></a>
        </div>    
    </div>
</footer>